.banner {
    padding: 0.5em;
    text-align: right;
    background-color: red;
    color: black;
}
.page-title{
    display: inline;
    padding-right: 2em;
}
.list-unstyled {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.main-menu {
    background-color: rgb(110, 110, 110);
}
.main-menu > li{
    display: inline-block;
}
.main-menu > li > a {
    display: inline-block;
    padding: 0.5em;
    text-decoration: none;
    color: white;
}
.main-menu > li > a:hover{
    background-color: black;
}
.item-with-sub-menu {
    position: relative;
}
.sub-menu {
    display: none;
    position: absolute;
    top: 35px;
    left: 0px;
    white-space: nowrap;
    padding: 1em;
    background-color: lightgray;
}
.sub-menu > li > a{
    text-decoration: none;
}
.item-with-sub-menu:hover .sub-menu{
    display: block;
}
